
.brown {
    float: left;
    background: sienna;
    width: 400px;
    height: 400px;
    margin: 40px;
    border: 1px solid bisque;
    box-shadow: 0 0 0 40px sienna;
}

.sq1, .sq2, .sq3, .sq4, .sq9, .sq10, .sq11, .sq12, .sq17, .sq18, .sq19, .sq20, .sq25, .sq26, .sq27, .sq28 {
    float: left;
    background: bisque;
    width: 50px;
    height: 50px;
    margin-right: 50px;
}

.sq5, .sq6, .sq7, .sq8, .sq13, .sq14, .sq15, .sq16, .sq21, .sq22, .sq23, .sq24, .sq29, .sq30, .sq31, .sq32 {
    float: right;
    background: bisque;
    width: 50px;
    height: 50px;
    margin-left: 50px;
}
